# Readline config settings.
set editing-mode 		vi      # set editing mode to vi
set colored-stats                 on    # Turn on completion colors.
set colored-completion-prefix     on    # Color the typed completion prefix.
set expand-tilde		on	# expand ~ on windows
set mark-directories 		on      # show directories as 

# keybindings
"\C-x":clink-reload		
"\eRubout":backward-kill-word	# ctrl+alt+backspace backward kill word
"\C-w":unix-word-rubout		# kill from cursor to nearest word bkwd
"\C-k":kill-line		# kill from cursor to end
"\M-d":kill-word		# kill from cursor to word end
"\C-c":kill-whole-line		# discards entire line
